main img{
    height: 240px;
    width: 400px;
}
main p{
    background-color: aquamarine;
}
.rain{
    background-color: greenyellow;
}
img{
    border: 3px solid black
}
.wind{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.som{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.gas{
    height: 340px;
    width: 420px;
}
.fraq{
    background-color: navy;
    color: beige;
}
.ten{
    height: 310px;
    width: 460px;
}
.rack{
    background-color: lightpink;
}
.job{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.gif{
    height: 280px;
    width: 460px;
}
.nyr{
    font-family:sans-serif ;
    background-color: navy;
    color: aliceblue;
}
.yappy{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.urg{
    height: 240px;
    width: 520px;
}
.barca{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.sup{
    background-color: yellow;
}
.way{
    background-color: bisque;
    color: black;
}
.wsa{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.mom{
    background-color: red;
    color: aliceblue;
}
.pixxel{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.HUB{
    background-color: brown;
}
.parasit{
    height: 290px;
    width: 410px;
}
.dad{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}
.gyj{
    font-family: fantasy;
    font-size: 24px;
}
.veb{
    background-color: lightblue;
    text-align: center;
    font-size: 60px;
}
.recs{
    font-size: 25px;
}
.KATTY{
    background-color: blue;
    color: white;
}
.radx{
    background-color: lawngreen;
    text-align: center;
    font-size: 40px;
}
.viber {
    height: 180px;
    width: 300px;
}
nav a {
    border-radius: 10px;
    background-color: navy;
    color: azure;
}
.cherry{
    background-color: blueviolet;
    font-size: 20px;
}
.kiker {
    background-color: yellow;
}
.kik{
    background-color: blueviolet;
    text-align: center;
    font-size: 35px;
}
.kgf{
    background-color: aqua;
}
.gay{
    text-align: center;
    background-color: blueviolet;
    font-size: 40px;
}
.joke{
    background-color: blue;
    color: aliceblue;
}

